.r{
    border: solid 1px #2f3336;
    border-left: none;
    border-bottom: none;
    border-top: 0;
}

.r-search-bar{
    display: flex;
    position: relative;
    width: 80%;
    height: 7%;
    background-color: #202327;
    border-radius: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.r-search-bar i{
    height: 20px;
    margin-left:10px;
    padding: 10px 10px 10px 5px;
    font-size: 20px;
    position: relative;
    top: 50%;
}

.r-search-bar input{
    color: white;
    position: relative;
    background-color: transparent;
    border: none;
    font-size: 16px;
    outline: none;
}

.r-trending{
    margin-top: 20px;
    height: auto;
    background-color: #202327;
    width: 80%;
    border-radius: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.r-trending-item:hover{
    background-color: #2f3336;

}

.r-trending-title{
    padding: 15px 15px 10px 15px;
    font-size: 15px;
}

.r-trending-title:last-of-type{
    padding-bottom: 15px;
}

.r-trending-title:last-of-type:hover{
    background-color: #2f3336;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.r-trending-title span{
    color: #1d9bf0;
    font-weight: 500;
}

.r-trend-infos{
    width: 90%;
}

